<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.or.hanium.shareseoul">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="kr.or.hanium.shareseoul.activities.PickActivity"
            android:label="@string/title_activity_pick"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.or.hanium.shareseoul.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.or.hanium.shareseoul.activities.DirectionsActivity"
            android:label="@string/title_activity_route"
            android:parentActivityName="kr.or.hanium.shareseoul.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- parentActivityName: Up 버튼을 눌렀을 때, 이동할 부모 액티비티 -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.or.hanium.shareseoul.activities.MainActivity" />
            <!-- Android 4.1 (API level 16) 이전 -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.or.hanium.shareseoul.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.or.hanium.shareseoul.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.or.hanium.shareseoul.activities.BikesActivity"
            android:label="@string/title_activity_bikes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.or.hanium.shareseoul.activities.RestaurantsActivity"
            android:label="@string/title_activity_restaurants"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.or.hanium.shareseoul.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="kr.or.hanium.shareseoul.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.or.hanium.shareseoul.activities.PlaceActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName="kr.or.hanium.shareseoul.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.or.hanium.shareseoul.activities.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>