<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.or.hanium.mojjak">

    <!--     구글 지도 API 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        구글 지도 API 키
        (res/values/google_maps_api.xml 파일)
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RouteActivity"
            android:label="@string/title_activity_route"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- parentActivityName: Up 버튼을 눌렀을 때, 이동할 부모 액티비티 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.or.hanium.mojjak.MainActivity" />
            <!-- Android 4.1 (API level 16) 이전 -->
        </activity>
        <activity
            android:name=".RouteViewActivity"
            android:label="@string/title_activity_route_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubwayActivity"
            android:label="@string/title_activity_subway"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".subActivity"></activity>
    </application>

</manifest>